* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    background: #1d2026;
    min-height: 92vh;
    width: 100%;
    color: #fff;
    position: relative
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo {
    width: 300px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

button {
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

button span {
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.bot-container {
    position: absolute;
    top: 200px;
    left: 8%;
    width: 500px
}

.bot {
    width: 100%;
}

.text-container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 52%;
}

.text-container h1 {
    font-size: 80px;
    font-weight: 400;
}

.text-container a {
    text-decoration: none;
    background: #618286;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line {
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;
}

.active {
    background: green;
}

.active span {
    background: #fff;
    margin-left: 31px;
}

.on {
    opacity: 1;
}

.footer-container {
    background-color: #1d2026;
    color: #fff;
    padding-bottom: 55px;
    padding-left: 8%;
    padding-top: 15px;
}

.contact-footer-container {
    background-color: #1d2026;
    color: #fff;
    padding-bottom: 55px;
    padding-left: 8%;
    padding-top: 55px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 50px 8%;
    margin-bottom: -5px;
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    color: black;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #618286;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px sollid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #618286;
}

button {
    background: #618286;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3 {
    color: #618286;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 15px;
}